*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
center{
    background-color: teal;
    height: 100%;
    width: 100%;
}
center h1{
    font-size: 50px;
    font-weight: 500;
    color: white;
}